.notification {
    .notice {
      background-color: #253141;
      color: #fff;
      text-align: center;
    }
  
    .alert {
      background-color: #F35500;
      color: white;
      text-align: center;
    }
  }
